aiosignal==1.4.0
aiofiles==25.1.0
eel==0.18.2
gpytranslate==2.1.0
keyboard==0.13.5
opencv-python==4.13.0.92
packaging==26.2
pyaudio==0.2.14
pydantic==2.13.4
pyqt6==6.11.0
pyqt6-qt6==6.11.1
pyqt6-sip==13.11.1
pyqt6-webengine==6.11.0
pyqt6-webengine-qt6==6.11.1
pyvts==0.3.3
pypresence==4.6.1
qasync==0.28.0
requests==2.34.2
sounddevice==0.5.5
soundfile==0.13.1
scipy==1.17.1
speechrecognition==3.16.1
typing_extensions==4.15.0
urllib3==2.7.0
websockets==16.0
curl_cffi==0.15.0
livekit==1.1.10
live2d-py
#./data/live2d_py-0.6.1.1-cp314-cp314-win_amd64.whl #https://github.com/Kajitsy/live2d-py
numpy==2.4.6
pillow==12.2.0
pyopengl==3.1.10
pyopengl-accelerate==3.1.10
platformdirs==4.10.0