torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
git+https://codeberg.org/kaiyga/CharacterAITestfork.git@main#egg=characterai 
speechrecognition
sounddevice
gpytranslate
num2words
websockets
