aiosignal==1.4.0
aiofiles==25.1.0
eel==0.18.2
gpytranslate==2.1.0
keyboard==0.13.5
opencv-python==4.13.0.90
packaging==26.0
pyaudio==0.2.14
pydantic==2.12.5
pyqt6==6.10.2
pyqt6-qt6==6.10.2
pyqt6-sip==13.11.0
pyqt6-webengine==6.10.0
pyqt6-webengine-qt6==6.10.2
pyvts==0.3.3
pypresence==4.6.1
qasync==0.28.0
requests==2.32.5
sounddevice==0.5.5
soundfile==0.13.1
scipy==1.17.0
speechrecognition==3.14.3
typing_extensions==4.15.0
urllib3==2.6.3
websockets==15.0.1
curl_cffi==0.14.0
livekit==1.0.25
numpy==2.4.2
pillow==12.1.1
pyopengl==3.1.10
pyopengl-accelerate==3.1.10