QComboBox {
    background-color: @element_bg;
    color: @text;
    border-radius: 4px;
    padding: 6px 15px;
}
QComboBox:hover {
    background-color: @hover_bg;
}
QComboBox::drop-down {
    background: transparent;
    width: 20px;
}
QComboBox QAbstractItemView {
    background-color: @hover_bg;
    selection-background-color: @element_bg;
    color: @text;
    border-radius: 4px;
    padding: 4px;
}
QComboBox::item {
    background-color: @hover_bg;
    padding: 5px 10px;
    border-radius: 4px;
    height: 18px;
}
QComboBox::item:selected {
    background-color: @element_bg;
}
QComboBox:disabled {
    background-color: @pressed_bg;
    color: @disabled_text;
}