QComboBox {
    background-color: @element_bg;
    color: @text;
    border: 2px solid @hover_bg;
    border-radius: 4px;
    padding: 5px 8px;
}
QComboBox:hover {
    border: 2px solid @disabled_text;
}
QComboBox::drop-down {
    border: none;
    background: transparent;
    width: 20px;
}
QComboBox QAbstractItemView {
    background-color: @menu_bg;
    border: 1px solid @hover_bg;
    selection-background-color: @menu_item_select;
    color: @text;
    border-radius: 4px;
    padding: 4px;
}
QComboBox::item {
    background-color: @menu_bg;
    padding: 5px 10px;
    border-radius: 4px;
}
QComboBox::item:selected {
    background-color: @menu_item_select;
}
QComboBox:disabled {
    background-color: @pressed_bg;
    color: @disabled_text;
    border: 2px solid @pressed_bg;
}