QMenu {
    background-color: @menu_bg;
    border-radius: 4px;
}
QMenu::item {
    background-color: @menu_bg;
    color: @text;
    padding: 8px 15px;
    border-radius: 4px;
}
QMenu::item:selected {
    background-color: @menu_item_select;
    color: @text;
    padding: 8px 15px;
    border-radius: 4px;
}