QPushButton {
    background-color: @element_bg;
    color: @text;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    text-align: left;
}
QPushButton:disabled {
    background-color: @pressed_bg;
    color: @disabled_text;
}
QPushButton:hover {
    background-color: @hover_bg;
}
QPushButton:pressed, QPushButton:checked {
    background-color: @pressed_bg;
    border-bottom: 5px solid #555;
    padding-bottom: 3px;
}